.movies-container {
  display: flex;
  flex-direction: column;
  max-width: calc(100% - 140px);
  padding-top: 80px;
  padding-bottom: 86px;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .movies-container {
    max-width: calc(100% - 134px);
  }
}
@media screen and (max-width: 768px) {
  .movies-container {
    max-width: calc(100% - 60px);
  }
}

@media screen and (max-width: 425px) {
  .movies-container {
    max-width: calc(100% - 20px);
    padding-top: 50px;
  }
}

.movies-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(364px, 1fr));
  grid-column-gap: 24px;
  grid-row-gap: 30px;
  justify-items: center;
  margin: 0;
  padding-left: 0;
}

@media screen and (max-width: 768px) {
  .movies-list {
    grid-template-columns: repeat(auto-fit, minmax(339px, 1fr));
    grid-column-gap: 30px;
    grid-row-gap: 36px;
  }
}

@media screen and (max-width: 425px) {
  .movies-list {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 0;
    grid-row-gap: 16px;
  }
}

.movies-list__button {
  margin-top: 80px;
  width: 320px;
  height: 36px;
  background-color: #2f2f2f;
  color: #fff;
  font-size: 12px;
  line-height: 15px;
  font-weight: 500;
  border: none;
  border-radius: 6px;
  align-self: center;
  cursor: pointer;
  transition: .5s;
}

.movies-list__button:hover {
  background-color: #3DDC84;
}

@media screen and (max-width: 425px) {
  .movies-list__button {
    width: 240px;
  }
}